<?xml version="1.0" encoding="UTF-8"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2023 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_Skroutz
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hippiemonkeys_skroutz>
            <marketplace>
                <active>1</active>
                <api_token></api_token>
                <api_host>https://api.skroutz.gr</api_host>
                <preferred_accept_options_pickup_location_skroutz_id></preferred_accept_options_pickup_location_skroutz_id>
                <preferred_number_of_parcels>1</preferred_number_of_parcels>
                <stock_id>1</stock_id>
            </marketplace>
        </hippiemonkeys_skroutz>
        <carriers>
            <hippiemonkeysskroutzmarketplace>
                <active>1</active>
                <title>Skroutz Marketplace</title>
                <method_title>Base</method_title>
                <zip_code_check>1</zip_code_check>
                <sallowspecific>0</sallowspecific>
                <specificcountry></specificcountry>
                <showmethod>1</showmethod>
                <sort_order>1000</sort_order>
                <model>Hippiemonkeys\SkroutzMarketplace\Model\Carrier</model>
                <use_store_shipper_data>0</use_store_shipper_data>
                <max_package_weight>50000</max_package_weight>
            </hippiemonkeysskroutzmarketplace>
        </carriers>
    </default>
</config>