<?xml version="1.0"?>
<!--
    Thomas Athanasiou at Hippiemonkeys
    Copyright (c) 2022 Hippiemonkeys (https://hippiemonkeys.com)
    Hippiemonkeys_SkroutzMarketplace
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Accept Options -->
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AcceptOptionsInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptions" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\AcceptOptionsRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptionsRepository" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Model\Spi\AcceptOptionsResourceInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptions" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AcceptOptionsPickupLocationRelationInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptionsPickupLocationRelation" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AcceptOptionsPickupLocationRelationSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptionsPickupLocationRelation\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\AcceptOptionsPickupLocationRelationRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptionsPickupLocationRelationRepository" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AcceptOptionsPickupWindowRelationInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptionsPickupWindowRelation" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AcceptOptionsPickupWindowRelationSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptionsPickupWindowRelation\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\AcceptOptionsPickupWindowRelationRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AcceptOptionsPickupWindowRelationRepository" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AddressInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\Address" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\AddressSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Address\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\AddressRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\AddressRepository" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\CustomerInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\Customer" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\CustomerSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Customer\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\CustomerRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\CustomerRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\RejectionInfoInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\RejectionInfo" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\OrderPickupWindowInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\OrderPickupWindow" />


    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\InvoiceDetailsInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\InvoiceDetails" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\InvoiceDetailsSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\InvoiceDetails\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\InvoiceDetailsRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\InvoiceDetailsRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItem" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\LineItem\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\LineItemRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItemRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemRejectionReasonInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItemRejectionReason" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\LineItemRejectionReasonSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItemRejectionReason\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\LineItemRejectionReasonRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\LineItemRejectionReasonRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\SizeInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\Size" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\VatExclusionRepresentativeInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\VatExclusionRepresentative" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\OrderInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\Order" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\OrderSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\OrderRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\OrderRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupLocationInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\PickupLocation" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupLocationSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\PickupLocation\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\PickupLocationRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\PickupLocationRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupWindowInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\PickupWindow" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\PickupWindowSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\PickupWindow\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\PickupWindowRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\PickupWindowRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\RejectOptionsInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\RejectOptions" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\RejectOptionsSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\RejectOptions\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\RejectOptionsRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\RejectOptionsRepository" />

    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\RejectOptionsLineItemRejectionReasonRelationInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\RejectOptionsLineItemRejectionReasonRelation" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\Data\RejectOptionsLineItemRejectionReasonRelationSearchResultInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\RejectOptionsLineItemRejectionReasonRelation\Collection" />
    <preference for="Hippiemonkeys\SkroutzMarketplace\Api\RejectOptionsLineItemRejectionReasonRelationRepositoryInterface" type="Hippiemonkeys\SkroutzMarketplace\Model\RejectOptionsLineItemRejectionReasonRelationRepository" />

    <virtualType
        name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\OrderRelationComposite"
        type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite"
    >
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="lineitem" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order\LineItemRelation</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\OrderRelationComposite</argument>
        </arguments>
    </type>
    <virtualType
        name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\OrderRelationComposite"
        type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite"
    >
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="lineitem" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order\LineItemRelation</item>
                <item name="acceptoptionsrelation" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order\AcceptOptionsRelation</item>
                <item name="rejectoptionsrelation" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Order\RejectOptionsRelation</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType
        name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\AcceptOptionsRelationComposite"
        type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite"
    >
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="pickuplocation" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptions\PickupLocationRelation</item>
                <item name="pickupwindow" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptions\PickupWindowRelation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\AcceptOptions">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\AcceptOptionsRelationComposite</argument>
        </arguments>
    </type>

    <virtualType
        name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\RejectOptionsRelationComposite"
        type="Magento\Framework\Model\ResourceModel\Db\VersionControl\RelationComposite"
    >
        <arguments>
            <argument name="relationProcessors" xsi:type="array">
                <item name="lineitemrejecctionreason" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\RejectOptions\LineItemRejectionReasonRelation</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\RejectOptions">
        <arguments>
            <argument name="entityRelationComposite" xsi:type="object">Hippiemonkeys\SkroutzMarketplace\Model\ResourceModel\Db\VersionControl\RejectOptionsRelationComposite</argument>
        </arguments>
    </type>
</config>